@{
    ViewBag.Title = "Empty";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Empty</title>
</head>
<body>
    <p style="padding:1em 1em 1em 1em; color: red;">
        @Html.ViewBag.Message
    </p>

    <table style="margin-left:1em;border-bottom: 3px solid blue;width:968px">
        <tr></tr>
    </table>

</body>
</html>
