<div class="Comparison1" id="Comparison">

    <p style="font-family:Arial;font-size:20px; text-align:center;">Human medicine comparison</p>
    <br />
    <table>
        <tr>
            <th></th>
            <th>Mobile</th>
            <th>Desktop</th>
            <th colspan='4'>Print</th>
        </tr>

        <tr class="Products">
            <th></th>
            <th>mobiMIMS</th>
            <th>eMIMS</th>
            <th>MIMS</th>
            <th>MIMS Desk Reference</th>
            <th>Generics Dictionary</th>
            <th>CSV Dictionary</th>
        </tr>

        <tr>
            <td>Description</td>
            <td>Mobisite suitable for all internet-enabled smartphones and tablet devices, including Apple iOS, Android, Windows Mobile and Blackberry OS.</td>
            <td>Offline system requiring internet connection to download content updates. Minimum operating system of Windows 10 (excludes Apple iOS)</td>
            <td>11 issues per year</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Summarised medicine brand- name listings</td>
            <td style="text-align:center;">&#10004;</td>
            <td style="text-align:center; font-size:18px">&#10004;</td>
            <td style="text-align:center; font-size:18px">&#10004;</td>
            <td style="text-align: center; font-size:18px">&#10004;</td>
            <td></td>
            <td style="text-align: center; font-size: 18px">&#10004;</td>
        </tr>

        <tr>
            <td>Fully detailed medicine brand- name listings</td>
            <td></td>
            <td style="text-align: center; font-size: 18px">&#10004;</td>
            <td></td>
            <td style="text-align: center; font-size: 18px">&#10004;</td>
            <td></td>
            <td></td>
        </tr>


        <tr>
            <td>Active/trade-name index</td>
            <td style="text-align: center; font-size: 18px">&#10004;</td>
            <td style="text-align: center; font-size: 18px">&#10004;</td>
            <td style="text-align: center; font-size: 18px">&#10004;</td>
            <td style="text-align: center; font-size: 18px">&#10004;</td>
            <td style="text-align: center; font-size: 18px">&#10004;</td>
            <td>&#10004;</td>
        </tr>

        <tr>
            <td>Pricing	</td>
            <td style="text-align:center"><abbr title="Single exit price inc.">SEP</abbr></td>
            <td style="text-align:center"><abbr title="Single exit price inc.">SEP</abbr></td>
            <td style="text-align:center"><abbr title="Single exit price inc.">SEP</abbr></td>
            <td></td>
            <td style="text-align:center">
                <abbr title="Single exit price inc.">SEP</abbr>,
                <abbr title="Medscheme maximum alowable reimbursement SEP inc.">MPL</abbr>,
                <abbr title="MediKredit maximum alowable reimbursement SEP inc.">MMAP</abbr>,
                <abbr title="Mediscor maximum alowable reimbursement SEP inc.">MRP</abbr>
            </td>
            <td style="text-align:center">
                <abbr title="Single exit pric inc.">SEP</abbr>,
                <abbr title="Medscheme maximum alowable reimbursement SEP inc.">MPL</abbr>,
                <abbr title="MediKredit maximum alowable reimbursement SEP inc.">MMAP</abbr>,
                <abbr title="Mediscor maximum alowable reimbursement SEP inc.">MRP</abbr>
            </td>
        </tr>

        <tr>
            <td>ICD-10 codes</td>
            <td style="text-align: center; font-size: 18px">&#10004;</td>
            <td style="text-align: center; font-size: 18px">&#10004;</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Reference information</td>
            <td>Patient information leaflets on medical conditions/surgical procedures</td>
            <td>Patient information leaflets on medical conditions/surgical procedures</td>
            <td></td>
            <td>Drug- Class Overview tables</td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <br />
</div>

