<!DOCTYPE html>
@{
    ViewBag.Title = "About";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>About</title>

    <Style>
        p {
            font-size: 12px;
            font-weight: 400;
            line-height: 1.9;
            color: #707070;
            margin: 0em 1em 0em 1em;
            max-width: 1200px;
            text-align:left;
        }

    </style>
</head>
<body>
    <br />
    <p><strong>MIMS &ndash; the medical publishing division of Arena Holdings (Pty) Ltd &ndash; is southern Africa&rsquo;s leading publisher of reference information to the medical profession.</strong></p>
    <br />
    <p>Our audience includes GPs, specialists, pharmacists, pharmacy assistants, and other healthcare professionals.</p>
    <br />
    <p>MIMS produces a host of publications in the print and digital media.</p>
    <br />
    <p>Core products in the print medium include MIMS monthly &ndash; widely regarded as the doctor&rsquo;s most trusted prescription tool &ndash; which consists of abbreviated package insert information on most prescription medicines available in South Africa, and MIMS Desk Reference (MDR) which features both fully detailed and abbreviated medicines listings plus important prescriber information. Providing the healthcare profession with pertinent information on generic medicines, including the SEP and maximum medical aid reimbursement prices, is the quarterly The Generics Dictionary with its accompanying website <strong><a href="http://www.generic.co.za">www.generic.co.za</a></strong></p>
    <br />
    <p>Products in electronic format include the newly relaunched emims &ndash; a standalone, desktop version encompassing MIMS/MDR medicines listings, an ICD10 coding browser, and patient information leaflets on a wide range of medical conditions; and mobiMIMS, comprising MIMS listings for smartphones and Internet-enabled tablet devices. These products can be ordered on their own or in various combinations. Additionally, MIMS publishes ebooks from time to time on topics as diverse as drug usage in sport and medical ethics.</p>
    <br />
    <p>Additional publications in the MIMS stable include Guide to OTC Products, The CVS Dictionary and a CPD Handbook series (comprising treatment approaches, drug-class overviews and medicines listings) on such specialist topics as Oncology, Geriatric Medicine, General Medicine and Psychiatry.</p>
    <br />
    <p>In the veterinary field, we publish IVS quarterly, consisting of abbreviated package insert information on most veterinary medicines available in South Africa, and IVS Desk Reference (IDR) comprising full package insert information.</p>
    <br />
    <p>With over 60 years&rsquo; experience, MIMS is southern Africa&rsquo;s leading publisher of medical reference information for healthcare professionals.</p>
</body>
</html>
