@{
    ViewBag.Title = "Mims";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/Content/Normalize.css">
    <link rel="stylesheet" href="/Content/Styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

    <style>

    * {
            box-sizing: border-box;
        }
   
        @@media (max-width: 480px) {
            #narrow {
                  display:block
            }

            #wide {
                display:none;
            }
          }

          @@media (min-width: 480px) {

            #narrow {
                display: none;
            }

            #wide {
                display: block;
            }
          }

        .Welcome {
            background-color: lightcyan;
        }

        .Welcome img {
            max-width:100%;
        }

    </style>

    <title>@ViewBag.Title</title>

</head>
<body >
  
    <div class="Welcome">
        <img id="wide" src="~/Images/WelcomeWide.jpg" />
        <img id="narrow" src="~/Images/WelcomeNarrow.gif" />
    </div>

    <div style="text-align:center;text-size-adjust:100%">
        <br />
        <img src="/Content/img/Ascendis Banner2 narrow.jpg" width="200" />
    </div>

    <footer style="border: solid 1px black; color: #fff; background-color: dodgerblue;
            text-align:center; align-content:center">
        <p style="font-size: 13px; font-weight: bold;">
            Read more at the SA government's
            <a href="https://sacoronavirus.co.za/" target="_blank" text-decoration:underline; style="color: #fff;">online coronavirus portal</a>
            or use the 24-hour public hotline: 0800 029 999
        </p>
        <p style="text-align:center; font-size:0.6em">Copyright &copy; @DateTime.Now.Year  MIMS. All Rights Reserved.</p>
        <p><a href="~/Content/TermsConditions.html" target="_blank" style="font-size:0.6em; color: white;">Terms and conditions</a></p>
    </footer>
</body>
</html>


