

@{
    ViewBag.Title = "Cancelled";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cancelled</title>
</head>
<body>
    <p style="font-family: Arial; margin:2em 0em 2em 1em; color:red; ">
        @Html.ViewBag.Message
    </p>
</body>
</html>
